.page {
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    min-width: 360px;
    min-height: 800px;
    background-color: rgb(237, 240, 245);
    border-radius: 12px;
}

.meta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nft {
    border-radius: 12px;
    border-style: dashed;
    border-width: 2px;
    max-width: 350px;
    width: 100%;
    border-color: rgb(146, 146, 146);
    margin-top: 1%;
}

.nameId {
    margin: 0;
    display: flex;
    flex-direction: row;
    max-width: 350px;
    width: 100%;
    justify-content: center;
    margin-left: 2%;
    margin-top: 14px;
}

.nameId > h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 12px;
}

.desc {
    margin: 0;
    margin-left: 2%;
    margin-top: 10px;
    max-width: 350px;
    margin-bottom: 2rem;
}

.actions {
    width: 100%;
}

.owner {
    margin-top: 0;
}

.buyButton {
    border-radius: 12px;
    padding: 10px 46px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 0.6px;
    border-style: solid;
    color: rgb(50, 149, 179);
    background-color: rgb(255, 255, 255);
    border-color: rgb(175, 175, 175);
    min-width: 240px;
}

.buyButton:hover {
    background-color: rgb(228, 228, 228);
}

.updateInput {
    font-family: inherit;
    border-radius: 8px;
    border-style: dashed;
    padding: 8px 10px;
    margin-bottom: 4px;
}

.updateInput:focus {
    outline: none;
    border-style: solid;
}
