.inputs {
    display: flex;
    flex-direction: column;
}

.inputs > input {
    font-family: inherit;
    border-radius: 8px;
    border-style: dashed;
    border-color: rgb(50, 149, 179);
    font-size: 16px;
    padding: 8px 10px;
    margin-bottom: 22px;
    max-width: 300px;
}

.inputs > input:focus {
    outline: none;
    border-style: solid;
}

.listButton {
    border-radius: 12px;
    padding: 8px 22px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 0.6px;
    border-style: solid;
    color: rgb(50, 149, 179);
    background-color: rgb(255, 255, 255);
    border-color: rgb(175, 175, 175);
    margin-top: 10px;
    min-width: 100px;
    max-width: 200px;
    cursor: pointer;
}

.listButton:hover {
    background-color: rgb(228, 228, 228);
}
